<!DOCTYPE html>
<html lang="EN">
    <head>
        <title>media</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="../resources/img/music-white.png">
        <link rel="icon" type="image/png" href="../resources/img/music-white.png">
        
        <!-- styles -->
        <link rel="stylesheet" href="../resources/css/listen.css"/>

        <!-- libraries -->
        
        <script type="text/javascript" src="../../vendors/js/vue.js"></script>
        <script type="text/javascript" src="../../vendors/js/axios.js"></script>
        <script type="text/javascript" src="../../ocean/lib/ocean.helper.js"></script>
        <script type="text/javascript" src="../../ocean/lib/ocean.vue.js"></script>

        <script type="text/javascript" src="../../ocean/lib/ocean.item.js"></script>
        <script type="text/javascript" src="../../ocean/lib/ocean.store.js"></script>
        <script type="text/javascript" src="../resources/js/ocean.music.js"></script>
        <script type="text/javascript" src="./listen.js"></script>
        
        <script type='text/javascript'>
            /** menu entries */
            let menu =  [
                {label: "home",         icon: "home",                   click :() =>window.methods.SetMode('album')},
                {label: "library",      icon: "library_music",          click: () => window.methods.SetMode("open", () => window.library = {name: ""})},
                {label: "hr"},
                {label: "performers",   icon: "record_voice_over",      click: () => window.methods.SetMode('performer')},
                {label: "creators",     icon: "person",                 click: () => window.methods.SetMode('creator')},
                {label: "hr"},
                {label: "album",        icon: "album",                  click: () => window.methods.SetMode('album')},
                {label: "tracks",       icon: "mic",                    click: () => window.methods.SetMode('track')},
                {label: "hr"}
            ];
            
            /** app title */
            const title = "Music: Listen";
            var step = 0;

            /** entry point: document loaded */
            document.addEventListener('DOMContentLoaded', 
                async function() {
                    window.apps = AVue.Init(window, title, menu, data, methods);
                    if(window.addEventListener) document.addEventListener('DOMMouseScroll', window.apps.Scroll, false);
                    document.onmousewheel = window.apps.Scroll;
                }, false);
            
            document.addEventListener("dragenter",  ( event ) => { if(event.target.id === "libr" || event.target.id === "mp3i") event.target.style.background = "rgba(255,255,255,0.7)"});
            document.addEventListener("dragleave",  ( event ) => { if(event.target.id === "libr" || event.target.id === "mp3i") event.target.style.background = ""});
            document.addEventListener("drop",       ( event ) => { if(event.target.id === "libr" || event.target.id === "mp3i") event.target.style.background = ""});
            window.addEventListener('resize', () => {         window.apps.vh = window.innerHeight; window.apps.vw = window.innerWidth;       });
            
            
        </script>
    </head>
    
    <body id="body">
        <div id="app">
            <div id="header">
                <!-- menu button -->
                <header-box class="fixed color-a hover-a" style="left:1.5vw"  v-on:click="menu.toggle()">        <icon>menu</icon>               </header-box>
                
                <!-- page title -->
                <header-box class="fixed roboto large100" style="left:6vw;width: unset;background:unset;cursor: default;"><span>{{title}}</span></header-box>
                
                <!-- drop library zone -->
                <form class="fixed h3w w9" style="top:1.5vw; left: 22vw;" id="mp3">
                    <input class="hover-a light-font" id="libr" type="file" v-on:change="LoadJson"></input>
                </form>
                
                <!-- json library download -->
                <header-box class="fixed color-a hover-a" style="left:32.5vw" v-on:click="SaveLibrary">
                    <icon>cloud_upload</icon>
                </header-box>

                <!-- filter -->
                <div class="search-box">
                    <form>
                        <input id="input-search" placeholder="filter selection"
                            type="text" id="input_search" 
                            :value="search.value"
                            v-on:input="Filter" 
                            v-on:focus="ActivateSearch" 
                            v-on:blur="DisableSearch"/>
                    </form>
                </div>

                <!-- drop mp3 zone -->
                <!-- <form class="fixed h3w w9" style="top:1.5vw; right: 27.5vw;" id="mp3">
                    <input class="hover-a light-font" id="mp3i" type="file" multiple v-on:change="LoadMedias"></input>
                </form> 
                -->

                <!-- action buttons -->
                <header-box class="fixed color-a hover-a" style="right: 24vw;"      v-on:click="Reload()">    <icon>autorenew</icon>  </header-box>
                <header-box class="fixed color-a hover-a" style="right: 19.5vw;"    v-on:click="SetMode('performer')">  <icon>record_voice_over</icon>  </header-box>
                <header-box class="fixed color-a hover-a" style="right: 15vw;"      v-on:click="SetMode('creator')">    <icon>person</icon>             </header-box>
                <header-box class="fixed color-a hover-a" style="right: 10.5vw;"    v-on:click="ShowList()">            <icon>queue_music</icon>        </header-box>
                <header-box class="fixed color-a hover-a" style="right: 6vw;"       v-on:click="SetMode('album')">      <icon>album</icon>              </header-box>
                <header-box class="fixed color-a hover-a" style="right: 1.5vw;"     v-on:click="SetMode('track')">      <icon>mic</icon>                </header-box>
            </div>

            <div id="loader"></div>

            <div layout-align="center center" id="message" class="w100 fixed roboto large100 error"    v-if="state.error !== null">{{state.error}}</div>
            <div layout-align="center center" id="message" class="w100 fixed roboto large100 progress" v-if="state.info !== null">{{state.info}}</div >
            <div layout-align="center center" id="message" class="w100 fixed roboto large100 success"  v-if="state.success !== null">{{state.success}}</div >
            
            <!-- play commands -->
            <div class="w100 h6w" style="top:6vw;text-align: center;" id="control">
                <control-box class="w3 fixed color-b hover-b" style="left:5vw;"  v-on:click="PlayNext(true)">          <icon>skip_previous</icon>  </control-box>
                <control-box class="w3 fixed color-b hover-b" style="left:8.5vw;" v-on:click="Play(playing?.index)">    <icon v-if="!playing?.playing">play_arrow</icon><icon v-if="playing?.playing">pause</icon>   </control-box>
                <control-box class="w3 fixed color-b hover-b" style="left:12vw;" v-on:click="PlayNext()">              <icon>skip_next</icon>  </control-box>
                <control-box class="w3 fixed color-b hover-b" style="left:15.5vw;" v-on:click="Random()">                <icon>shuffle</icon>  </control-box>
                <control-box class="fixed" style="right:5vw;width:12vw;cursor:default;background: unset;">          <icon>access_time</icon> <span>{{playing?.index !== null ? playing.currentTime : ""}}</span> </control-box>

            <!-- volume slider -->
                <input style="top: 8.2vw;display: block;right: 18vw;z-index: 20;" v-on:input="AdjustVolume" v-on:change="AdjustVolume" class="fixed color-b hover-b" type="range" id="volume-control" :value="volume ? volume * 100 : 50">

            </div>

            <div class="fixed" style="top:7.5vw;left:20vw;line-height:3vw;font-size: 1.8vw;font-family: Lato;font-weight: 100;white-space: nowrap;">
                <span class="light-b" style="font-size: 1.6vw;overflow: hidden;text-overflow: ellipsis;width:49.5vw;padding: 0 1vw;display: inline-block;border-radius: var(--small-border-radius);">
                    {{playing?.media !== null ? playing.media.title : ""}}{{ playing?.media?.creator !== undefined ? " / " +playing.media.creator :""}}{{ playing?.media?.performer !== undefined ? " ("+playing.media.performer+")" : "" }}
                </span>
            </div>


            <transition name="fade">
                <div  v-if="menu.show">
                    <div class="fixed light-c" style="top:6vw;left:20vw;height:calc(100vh - 6vw);width:80vw;z-index:1;opacity:0.5;">
                        &nbsp;
                    </div>
                    <div class="fixed" style="top:6vw;left:0vw;width:20vw;z-index:2;height:calc(100vh - 6vw);background:white;">
                        <menu-title class="color-b" style="font-family:Lato;font-weight: 400;font-size: 1.8vw;color: var(--color-menu-header-font);text-align:center;text-transform: uppercase;
                            padding: 1vw 0.75vw;display: block;z-index: 2;">{{menu.title}}</menu-title>
                        <menu-item v-for="entry in menu.entries" :style="entry.label === 'hr' ? 'cursor: default;' : 'cursor: pointer;'" style="text-align:left; display:block;  z-index: 2;" v-on:click="ClickMenu(entry)">
                            <hr size="1" style="width: calc(19.9vw);" v-if="entry.label === 'hr'"/>
                            <div v-if="entry.label !== 'hr'"  class="hover-b" style="border-radius: var(--small-border-radius);
                                margin: 0.5vw 0.5vw;padding: 0.3vw 0.3vw 0.6vw 0.3vw;font-size: 1.8vw;font-family:Lato;font-weight:100;"> 
                                <icon style="margin-right: 0.5vw;top: 0.5vw;position: relative;margin-top: -0.1vw; color: var(--color-menu-font);">{{entry.icon}}</icon>{{entry.label}}
                            </div>
                        </menu-item>				
                    </div>
                </div>
            </transition>
           

            <div class="fixed w100" style="height:20vw;top:12vw;" id="subset">
            </div>


            <!-- list view mode -->

            <div class="fixed w100" style="height:calc(100vh - 12vw);top:12vw;text-align: center;" id="page" v-if="mode ==='track'">   
                
                <div class="dark-d w90" style="border-top-left-radius: var(--small-border-radius); border-top-right-radius: var(--small-border-radius);font-family: Roboto;font-weight: 400;font-size: 1.3vw;display: inline-block;position: relative;line-height: 4vw;vertical-align:middle;">
                    <span class="cell" style="width:  5vw;" >&nbsp;</span>
                    <span class="cell" style="width: 20vw;" >performer</span>
                    <span class="cell" style="width: 20vw;" >album</span>
                    <span class="cell" style="width:  4vw;" >piste</span>
                    <span class="cell" style="width: 20vw;" >titre</span>
                    <span class="cell" style="width: 15vw;" >creator</span>
                    <span class="cell" style="width:  6vw;" >duration</span>
                </div>
                

                <div class="w90" style="white-space: nowrap;font-family: Roboto;font-weight: 100;font-size: 1.3vw;display: inline-block;position: relative;line-height: 4vw;vertical-align:middle;" v-if="mode ==='track' && typeof(current) !== 'undefined'">
                    <div v-if="Page() !== null" class="table-line" v-for="(product,id, index) in Page()" :class="index % 2 === 0 ? 'color-d' : 'light-d'">
                        <span class="cell" style="width:  5vw;">
                            <img class="radius-small h3w w3" style="background:white;vertical-align:middle;" v-bind:src="product.id === playing?.media?.id && playing?.playing ? '../resources/img/son.gif' : 
                                product.cover" v-on:click="PlayMedia(product.id)">
                        </span>
                        <span class="cell ellips" style="width: 20vw; max-width: 20vw;">{{product.performer}}&nbsp;</span>
                        <span class="cell ellips" style="width: 20vw; max-width: 20vw;">{{product.album === 'unknown' ? '' : product.album}}&nbsp;</span>
                        <span class="cell ellips" style="width:  4vw; max-width:  4vw;">{{product.track}}&nbsp;</span>
                        <span class="cell ellips" style="width: 20vw; max-width: 20vw;">{{product.title}}&nbsp;</span>
                        <span class="cell ellips" style="width: 15vw; max-width: 15vw;">{{product.creator === 'unknown' ? '' : product.creator }}&nbsp;</span>
                        <span class="cell ellips" style="width:  6vw; max-width:  6vw;">{{product.duration}}&nbsp;</span>
                    </div>
                    <div v-if="Page() == null" class="table-line" class="light-d">
                        <span class="cell" style="width:  90vw; max-width: 90vw;">
                            no track matching current filter
                        </span>
                    </div>
                    
                </div>
                
                <div class="dark-d" style="border-bottom-left-radius: var(--small-border-radius); border-bottom-right-radius: var(--small-border-radius);font-family: Roboto;font-weight: 400;font-size: 1.3vw;width: 90vw;display: inline-block;position: relative;line-height: 4vw;vertical-align:middle;" v-if="mode ==='track'">
                    {{ new Intl.NumberFormat().format(view.offset) }} / {{typeof(current) !== 'undefined' ? new Intl.NumberFormat().format(helper.size(current)) : 0}} tracks
                </div>
            </div>

            <!-- grid view mode -->

            <div class="fixed" style="top:12.9vw;text-align: right;right:9.2vw;font-size: 1.3vw;font-family: Lato;font-weight: 100;" v-if="mode === 'creator' || mode === 'performer' || mode === 'album'">
                <span >{{ new Intl.NumberFormat().format(helper.size(grid[mode])) }} {{ mode }} / {{ new Intl.NumberFormat().format(helper.size(library.data.products)) }} tracks</span>
            </div>

            <div style="top:15vw;text-align: center;position: fixed; width: 100vw;height: calc(100vh - 21vw);left: 0vw;text-align: center;color: black;vertical-align: middle;font-size: 1vh; white-space: nowrap;overflow-y: scroll;display: inline-block;" 
                 v-if="( mode === 'creator'  || mode === 'performer'  || mode === 'album') && typeof grid[mode] !== 'undefined'">
                <center> 
                    <div style="display: inline-grid;width: 82vw;justify-items: center;align-items: center;left: 9vw;position: absolute;grid-gap: 3vh 4.2vw;grid-auto-flow: row;grid-template-columns: repeat(auto-fit, minmax(13vw, 13vw));">
                        <div  class="clickable" style="line-height: 0px;display: table-cell;" v-for="group in grid[mode]" v-on:click="PlaySet(group.tracks)"> 
                            <img :src="group.cover" style="position: relative; width: 13vw !important; height: 13vw !important; left: 0px; border-radius: var(--small-border-radius); max-width: 13vw;"/>
                            <span class="legend" v-if="group.title !== undefined || group.name !== undefined" style="font-family: 'Roboto';font-weight: 300;position: absolute;margin-left: -13vw;width: 11vw;height: 11vw;border-radius: 0px 0px 6px 6px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;padding: 1vw;display: inline-block;line-height: 3.7vw;font-size: 1.2vw;">
                                {{group.title ? group.title : ""}}<br/>
                                {{group.name ? group.name : ""}}<br/>
                                {{group.tracks.length }} track{{ group.tracks.length >1?'s':''}}
                            </span>
                        </div>
                    </div>
                </center>
            </div>
		</div>
	</body>
</html>
